# History files
.Rhistory
.Rapp.history

.DS_Store

# Intermediate Data files
*.RData
.RDataTmp

# User-specific files
.Ruserdata

# Raw data files
*.nc
data/raw/

#Output figures
*.pdf

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# Temporary folder
/temp/

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
